body {
    background-color: #e2dcd1;
    align-content: center;
}

.deck {
    border: 2px dashed rgba(100,100,100,0.1);
    display: grid;
    align-content: center;
    grid-template-columns: repeat(auto-fit, 18vw);
    row-gap: 7px;
    column-gap: 7px;
    justify-content: center;
    padding: 10px;
}

.card {
    outline: 1px solid #999999;
    aspect-ratio: 0.8 auto;
    width: auto;
    background-color: #e2dcd1;
    align-items: center;
    cursor: grab;
    /* display: grid; */
}
.priceTria, .priceAurorite {
    display: inline;
    font-size: 24px;
}

.card.dragging {
    opacity: 0.5;
    cursor: grabbing;
}

#overlay {
    outline: 1px solid #999999;

    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:9999;
    background-color:rgba(0, 0, 0, 0.2);
}

#editCard {
    outline: 1px solid #999999;
    aspect-ratio: 0.8 auto;
    width: auto;
    background-color: #e2dcd1;
    margin: 0 auto; /* optional */
    margin-top: 20vh; /* optional */
}

.price {
    text-align: center;
}
.currency {
    width: 24px;
    vertical-align:middle;
}

/* p {
    color: dimgray;
    text-align: center;
    font-size: 4cqh;
    font-weight: bold;
    line-height: 0px;
    font-family: Arial, Helvetica, sans-serif;
} */

.thumbnail {
    width: 100%;
    object-fit: contain;
}