body {
    background-color: #e2dcd1;
    align-content: center;
    padding: 8px;
}

.deck {
    border: 2px dashed rgba(200, 0, 0, 0.1);
    display: grid;
    align-content: center;
    grid-template-columns: repeat(auto-fill, 18vw);
    row-gap: 7px;
    column-gap: 7px;
    justify-content: center;
    padding: 10px;
}

.card {
    outline: 1px solid #999999;
    aspect-ratio: 0.8 auto;
    width: auto;
    background-color: #e2dcd1;
    align-items: center;
    cursor: grab;
    /* display: grid; */
}

.card.dragging {
    opacity: 0.5;
    cursor: grabbing;
}

#overlay {
    outline: 1px solid #999999;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.2);
}

#editCard {
    outline: 1px solid #999999;
    aspect-ratio: 0.8 auto;
    width: auto;
    background-color: #e2dcd1;
    margin: 0 auto;
    /* optional */
    margin-top: 20px;
}

.price {
    text-align: center;
}

.currency {
    width: clamp(10px, 3vw, 24px);
    margin-bottom: -4px;
}

.priceTria,
.priceAurorite {
    display: inline;
    /* font-size: 22px; */
    font-size: clamp(10px, 2.5vw, 24px);
    font-family: "platypi";
    color: dimgray;
}

.thumbnailWrapper {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 90vw;
}

.soldOutOverlay {
    position: absolute;
    inset: 0;
    width: 100%;
    /* height: 100%; */
    object-fit: fill;
    opacity: 0.3;
    pointer-events: none;
    z-index: 2;
}

/* p {
    color: dimgray;
    text-align: center;
    font-size: 4cqh;
    font-weight: bold;
    line-height: 0px;
    font-family: Arial, Helvetica, sans-serif;
} */

.thumbnail {
    display: block;
    width: 100%;
    object-fit: contain;
}